.search-bar{
    display: block;
    margin-bottom: 10px;
}
.video_grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 22px;
}
.video_info_grid{
    display: grid;
    grid-template-columns: 70px 1fr;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}
.video_title{
    font-weight: 700;
    margin-bottom: 8px;
}
.author{
    margin-bottom: 5px;
}
.stats,
.author{
    color: #606060;
}

.thumbnail1{
    width: 100%;
    vertical-align: top;
}

.profile_pic1{
    
    border-radius: 40px;
    width: 50px;
    margin-top: 10px;
    
}

.video_info{

    margin-top: 10px;
}

.video_info2{
    margin-top: 10px;
}

.profile_pic2{
    width: 50px;
    border-radius: 40px;
    margin-top: 10px;
}