
.profile_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;

}
.profile_card:hover{
    box-shadow: rgba(17, 17, 17, 0.25) 0px 54;
}
.name{
    font-weight: 1000;
    font-size: large;
}
.profile_pic{
    width: 100%;
}
.profile{
    border-radius: 600px;
    height: 50px;
    width: 50px;
}
.mutual{
    color: rgb(158, 134, 134);
}
.bottom{
    display: grid;
    grid-template-columns: 70px 1fr;
}
.add{
    background-color: #796eb9;
    padding: 10px 19px;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 5px;
}
.add:hover{
    cursor: pointer;
    opacity: 0.7;
    box-shadow: black 10px;
}